.btn-xs {
  padding: 2px 6px;
  font-size: 0.75rem;
}

.badge-pill {
  border-radius: 50px;
}

.badge-success {
  background-color: #28a745 !important;
  color: #fff !important;
}

.badge-danger {
  background-color: #dc3545 !important;
  color: #fff !important;
}
